
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'acid';
  src: url('fonts/acid-grotesk-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }


body { 
  font-family: 'acid', sans-serif;
}

.container {
  padding: 10px;
}
